리스트 인덱싱

In [2]:
a = [1, 2, 3]
print(a) #리스트 이름은 리스트 전체를 의미한다.
print(a[0])

[1, 2, 3]
1

In [12]:
a = [1, 2, ['a', 'b', [True, 3.14]]]
print(a)
print(a[2])
print(a[2][2])
print(a[2][2][0])

[1, 2, ['a', 'b', [True, 3.14]]]
['a', 'b', [True, 3.14]]
[True, 3.14]
True

In [23]:
a = [1,2,3,4,5]
print(a)
print(a[0]) # 인덱싱 되는 데이터 요소가 상수면 상수로 리턴된다.
print(a[0:1]) # 슬라이싱되는 데이터는 상수라도 리스트로 리턴된다 
print(a[2:])
print(a[:])
print(a[::2])
print(a[::-1])

[1, 2, 3, 4, 5]
1
[1]
[3, 4, 5]
[1, 2, 3, 4, 5]
[1, 3, 5]
[5, 4, 3, 2, 1]

In [25]:
a = [1,2,3]
b = [4,5,6,7]
print(a + b)
print(a * 3)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [28]:
string = 'abcde'
print(string)
print(type(string))
print(string[2])

abcde
<class 'str'>
c

In [33]:
a = [1,2,3]
print(a)
# 인덱싱을 이용한 데이터 수정, 수정할 리스트의 인덱스 번째 요소에 값을 대입하면 된다.
a[1] = 4
print(a)
# 인덱싱을 이용해 특정 인덱스 위치에 리스트를 대입하면 리스트 자체가 대입된다.
a[0] = [100, 200, 300]
print(a)
#

[1, 2, 3]
[1, 4, 3]
[[100, 200, 300], 4, 3]

In [42]:
a = [1,2,3,4,5]
print(a)
del a[1]
print(a)
a.clear()
print(a)
del a
print(a)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]
[]

NameError: name 'a' is not defined