리스트 메소드

In [13]:
a = [1,2,3]

# len() 함수로 리스트에 저장된 데이터의 개수를 얻어온다
print(len(a))

# append() 메소드로 리스트 맨 뒤에 데이터를 추가한다.
print(a)
a.append(4)
print(a)

# insert() 메소드로 리스트의 특정 인덱스 위치에 데이터를 삽입한다.
a.insert(1, 5)
print(a)

# insert() 메소드와 len() 함수를 사용해서 append() 메소드 효과내기
a.insert(len(a), 999)
print(a)

3
[1, 2, 3]
[1, 2, 3, 4]
[1, 5, 2, 3, 4]
[1, 5, 2, 3, 4, 999]

In [21]:
# sort() 메소드로 리스트에 저장된 데이터를 별도의 설정이 없으면 오름차순(문자열은 가나다순) 으로 정렬한다.
a = [1,5,2,3,6,4]
print(a)
a.sort()
print(a)

b = ['1', '010', '999', '50']
print(b)
b.sort()
print(b)

c = ['d', 'b', 'a', 'c']
print(c)
c.sort()
print(c)

d = ['홍길동', '임꺽정', '장낄산', '일지매']
print(d)
d.sort()
print(d)

[1, 5, 2, 3, 6, 4]
[1, 2, 3, 4, 5, 6]
['1', '010', '999', '50']
['010', '1', '50', '999']
['d', 'b', 'a', 'c']
['a', 'b', 'c', 'd']
['홍길동', '임꺽정', '장낄산', '일지매']
['일지매', '임꺽정', '장낄산', '홍길동']

In [25]:
# sort() 메소드의 reverse 옵션을 True로 지정하면 내림차순(문자는 가나다순)으로 정렬된다. 
print(a)
a.sort(reverse=True)
print(a)
b.sort(reverse=True)
print(b)
c.sort(reverse=True)
print(c)
d.sort(reverse=True)
print(d)

[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
['999', '50', '1', '010']
['d', 'c', 'b', 'a']
['홍길동', '장낄산', '임꺽정', '일지매']