# 변수(variable)
변수는 처리할 데이터(상수, constant)를 저장하는 기억 장소를 말한다. 
## 변수명 작성방법  
영문자(대소문자를 구분한다), 숫자, 특수문자('_'만 가능)를 사용할 수 있으며 반드시 문자로 시작해야하고 예약어(파이썬과 약속된 단어 => 명령어, 함수 등)는 사용할 수 없다.

파이썬은 c/c++이나 java와 같이 변수 선언시 변수의 자료형을 지정하지 않는다.
파이썬은 변수에 저장되는 데이터 타입에 따라 자동으로 변수의 자료형이 결정된다. 
'='는 같다라는 의미로 사용되지 않고 '=' 오른쪽의 데이터를 '=' 왼쪽의 기억장소에 저장하라는 의미로 사용된다. => 대입문, 할당문, 배정문
'=='와 같이 2개를 연속해서 사용해야 같다로 인식한다.

In [15]:
a = '홍길동'
print(a) 
# type() 함수는 인수로 지정된 기억장소의 자료형을 얻어온다.
print(type(a)) # <class 'str'> => 문자열
a = 100
print(a)
print(type(a)) # <class 'int'> => 정수
a = 3.141592
print(a)
print(type(a)) # <class 'float'> => 실수
# True => 참, False => 거짓, 반드시 첫 문자만 대문자로 나머지는 소문자로 작성해야 한다.
a = True
print(a)
print(type(a)) # <class 'bool'> => 논리값

홍길동
<class 'str'>
100
<class 'int'>
3.141592
<class 'float'>
True
<class 'bool'>

In [8]:
# 더이상 사용할 필요가 없는 기억장소는 del 명령으로 메모리에서 삭제할 수 있다.
print(a)
# del a
# print(a)

NameError: name 'a' is not defined

# input( ) 함수
키보드로 입력하는 데이터를 입력받을 수 있다. => 무조건 문자열 형태로 받는다.
변수 = input('메시지')

In [4]:
name = input('이름을 입력하세요: ')
print(type(name))
print('%s님 안녕하세요' % name)
print('{}님 안녕하세요'.format(name))
print(f'{name}님 안녕하세요')

이름을 입력하세요: 조영재
<class 'str'>
조영재님 안녕하세요
조영재님 안녕하세요
조영재님 안녕하세요

input() 함수는 무조건 문자열 형태로 데이터를 입력받기 때문에 정수나 실수 형태의 데이터를 입력 받으려면 입력받은 데이터를 int() 함수나 float()함수를 사용해서 숫자로 변환하면 된다.

In [16]:
age = input('나이를 입력하세요: ')
print(type(age))
print('%s님은 %d살 입니다.' % (name, age))
print('{}님은 {}살 입니다.'.format(name,age))
# '+' 연산자는 문자열과 문자열, 숫자와 숫자의 연산만 가능하다. => 문자열과 숫자를 연산하면 에러가 발생된다. 
# 문자열과 문자열에 '+' 연산자를 사용하면 두 문자열을 하나로 이어주는 기능이 실행되고 숫자와 숫자 사이에 '+' 연산자를 사용하면 덧셈이 실행된다. 
print('{}님은 내년에 {}살 입니다.'.format(name, age + 1))

나이를 입력하세요: 23
<class 'str'>

TypeError: %d format: a real number is required, not str

In [18]:
age = input('나이를 입력하세요: ')
print(type(age))
print('{}님은 내년에 {}살 입니다.'.format(name, int(age) + 1))

나이를 입력하세요: 23
<class 'str'>
홍길동님은 내년에 24살 입니다.

split() 메소드를 사용하면 1개의 input() 함수로 여러개의 데이터를 입력받을 수 있다.   
split() 메소드는 인수로 지정된 구분자를 사용해서 문자열을 나눠준다

In [24]:
name, age = input('이름과 나이를 입력하세요: ').split()
print('{}님은 {}살 입니다.'.format(name,age))
print('{}님은 내년에 {}살 입니다.'.format(name, int(age) + 1))

이름과 나이를 입력하세요: 정승구, 31
정승구,님은 31살 입니다.
정승구,님은 내년에 32살 입니다.

In [27]:
python, java, jsp = input('세 과목 점수를 입력하세요: ').split()
total = int(python) + int(java) + int(jsp)
print('총점: {}, 평균: {}'.format(total, total // 3))

세 과목 점수를 입력하세요: 90 91 92
총점: 273, 평균: 91

map() 함수를 사용하면 입력받은 데이터를 split() 메소드로 구분한 후 일괄적으로 숫자로 변환 시킬 수 있다.   
map(자료형, input('메시지').split())

In [30]:
python, java, jsp = map(float, input('세 과목 점수를 입력하세요: ').split())
total = python + java + jsp
print('총점: {}, 평균: {}'.format(total, total // 3))

세 과목 점수를 입력하세요: 92.2 93.4 95.2
총점: 280.8, 평균: 93.0