리스트, 튜플, 딕셔너리, set과 함께 사용하는 for
리스트, 튜플, 딕셔너리, set과 0번째 인덱스 값을 변수에 저장하고 반복을 시작하고 마지막 값을 변수에 저장하고 반복한 후 종료한다.
***
for 변수 in 리스트 or 튜플 or 딕셔너리 or set의 이름: # 인덱싱과 슬라이싱도 가능하다.   
&nbsp;&nbsp;&nbsp;반복할 문장  
&nbsp;&nbsp;...

In [10]:
# 리스트와 함께 사용하는 for
a = ['Life', 'is', 'too', 'Good']
print(a)
print('='* 80)

for i in a:
    print(i)
print('='* 80)
for i in range(len(a)):
    print(a[i])
print('='* 80)
print('='* 80)
for i in a[1:3]:
    print(i)
print('='* 80)

['Life', 'is', 'too', 'Good']
================================================================================
Life
is
too
Good
================================================================================
Life
is
too
Good
================================================================================
================================================================================
is
too
================================================================================

In [11]:
# 튜플와 함께 사용하는 for
a = 'Life', 'is', 'too', 'Good'
print(a)
print('='* 80)

for i in a:
    print(i)
print('='* 80)
for i in range(len(a)):
    print(a[i])
print('='* 80)
print('='* 80)
for i in a[1:3]:
    print(i)
print('='* 80)

('Life', 'is', 'too', 'Good')
================================================================================
Life
is
too
Good
================================================================================
Life
is
too
Good
================================================================================
================================================================================
is
too
================================================================================

In [15]:
# 리스트와 함께 사용하는 for
a = {'Life', 'is', 'too', 'Good'}
print(a)
print('='* 80)

for i in a:
    print(i)
print('='* 80)

'''
for i in range(len(a)):
    print(a[i]) # set은 입력되는 순서와 저장되는 순서가 달라서 인덱싱을 사용할 수 없으므로 에러가 발생된다.
print('='* 80)

for i in a[1:3]: # set은 입력되는 순서와 저장되는 순서가 달라서 인덱싱을 사용할 수 없으므로 에러가 발생된다.
    print(i)
print('='* 80)
'''
pass

{'is', 'Good', 'too', 'Life'}
================================================================================
is
Good
too
Life
================================================================================

In [21]:
# 딕셔너리와 함께 사용하는 for
a = {'apple': 100, 'banana': 3500, 'melon':10000, 'mango':5000}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'apple': 100, 'banana': 3500, 'melon': 10000, 'mango': 5000}
dict_keys(['apple', 'banana', 'melon', 'mango'])
dict_values([100, 3500, 10000, 5000])
dict_items([('apple', 100), ('banana', 3500), ('melon', 10000), ('mango', 5000)])

In [34]:
for key in a: #딕셔너리 이름만 쓰면
    print(key)
print('='* 80)

for key in a.keys():
    print(key)
print('='* 80)

# 딕셔너리의 key 값을 이용해서 value 얻어오기
for key in a.keys():
    print(a.keys())
    print(a[key])
print('='* 80)

for key in a.values():
    print(key)

apple
banana
melon
mango
================================================================================
apple
banana
melon
mango
================================================================================
dict_keys(['apple', 'banana', 'melon', 'mango'])
100
dict_keys(['apple', 'banana', 'melon', 'mango'])
3500
dict_keys(['apple', 'banana', 'melon', 'mango'])
10000
dict_keys(['apple', 'banana', 'melon', 'mango'])
5000
================================================================================
100
3500
10000
5000

In [70]:
for item in a.items():
    print(item)
print('='* 80)

# apple은 1,000원 입니다. 
print(item[0],item[1])

for item in a.items():
    print('{}은 {:,}원 입니다'.format(item[0],item[1]))

('apple', 100)
('banana', 3500)
('melon', 10000)
('mango', 5000)
================================================================================
mango 5000
apple은 100원 입니다
banana은 3,500원 입니다
melon은 10,000원 입니다
mango은 5,000원 입니다